<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>serverweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>basic.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first.kitri</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>basic.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/second.kitri</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuGu</servlet-name>
    <servlet-class>basic.GuGuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuGu</servlet-name>
    <url-pattern>/GuGu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>life</servlet-name>
    <servlet-class>basic.LifeCycleTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>life</servlet-name>
    <url-pattern>/life.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>param</servlet-name>
    <servlet-class>basic.ParamTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>param</servlet-name>
    <url-pattern>/param.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>post</servlet-name>
    <servlet-class>basic.PostFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>post</servlet-name>
    <url-pattern>/post.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>multi</servlet-name>
    <servlet-class>basic.MultiCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>multi</servlet-name>
    <url-pattern>/multi.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>calc</servlet-name>
    <servlet-class>basic.CalcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calc</servlet-name>
    <url-pattern>/calc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>form</servlet-name>
    <servlet-class>basic.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>form</servlet-name>
    <url-pattern>/form.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>basic.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>emplist</servlet-name>
    <servlet-class>basic.emplistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emplist</servlet-name>
    <url-pattern>/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delemp</servlet-name>
    <servlet-class>basic.EmpDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delemp</servlet-name>
    <url-pattern>/delete.do</url-pattern>
  </servlet-mapping>
</web-app>